* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.header {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  font-size: 50px;
  border-bottom: solid black;
}

.game-board {
  margin: 500px;
  width: 100px;
  height: 500px;
  display: inline;
  float: none;
}

.letter-box {
  display: flex;
  border: 5px double gray;
  width: 50px;
  justify-content: center;
  align-items: center;
  border-width: 10px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 50px;
  margin: 10px;
}

.correct {
  border-color: green;
}

.wrong-spot {
  border-color: rgb(200, 207, 13);
}